$primary-color: #031303;
$secondary-color: #fff;
$tertiary-color: #ff9900;
$quaternary-color: #588164;

@media screen and (max-width: 767px) {
  .navbar {
    background-color: $quaternary-color;
    height: auto;

    ul {
      flex-direction: column;
    }

    li {
      margin-right: 0;
      margin-bottom: 0.625rem;
    }

    a {
      padding: 0.3125rem;
    }
  }
}
