body {
  margin: 0;
}

.cv-container {
  display: flex;
}

.left-side {
  background-color: rgb(150, 223, 237);
  width: 30%;
}

.right-side {
  padding: 40px;
  background-color: rgb(207, 244, 232);
  width: 70%;
  height: 100%;
}

.minbild {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.description-summary{
  padding-right: 40px;
  width: 60%;
  line-height: 25px;
}

.contact-leftside {
  text-align: center;
}

.images-control {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-number-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-me-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-location {
  width: 30px;
}

.my-number {
  margin-right: 12px;
  width: 24px;
  display: block;
}

.mail-me {
  margin-right: 10px;
  width: 34px;
  display: block;
}

.facebook-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.link-to-facebook,
.link-to-instagram,
.link-to-linkedin,
.link-to-twitter {
  padding-left: 5px;
}

.instagram-div {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 74px;
}

.twitter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-right: 78px;
}

.linkedin-div{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  align-items: center;
  padding-right: 38px;
}

.linkedint {
  width: 30px;
  padding-left: 40px;
}

.twittert {
  width: 30px;
  padding-left: 40px;
}

.instagramt{
  width: 30px;
  padding-left: 40px;
}

.facebookt{
  width: 30px;
  padding-left: 40px;
}

.personal-summary-header {
  border-bottom: 2px solid grey;
  width: 50%;
}

.personal-summary-header p {
  padding-right: 10px;
}

.work-experience-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.work-experience-header {
  border-bottom: 2px solid grey;
  width: 50%;
}

.work-experience-title-and-date {
  width: 25%;
  float: left;
  text-align: left;
}

.work-experience-description {
  width: 75%;
  float: left;
  text-align: left;
}

.work-experience-text {
  width: 60%;
  line-height: 22px;
}

.work-experience-title-and-date > p,
.work-experience-description > p {
  margin: 0px;
}

.work-experience-summary {
  padding-bottom: 24px;
}

.skills {
  border-bottom: 2px solid grey;
  width: 50%;
}

.ball {
  margin-right: 10px;
  width: 40px;
}

.boxing {
  margin-right: 10px;
  width: 40px;
}

.hamburger {
  margin-right: 10px;
  width: 40px;
}

.references-header {
  padding-top: 10%;
}

.references-text {
  padding-bottom: 20px;
}

iframe {
  display: block;
  margin-top: 20px;
  width: 600px;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .cv-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    text-align: center;
  }

  .right-side {
    padding: 0px;
    width: 100%;
  }

  .description-summary {
    padding-right: 40px;
    width: 60%;
    line-height: 25px;
  }

  .minbild {
    margin-top: 20px;
  }

  .work-experience-title-and-date {
    width: 80%;
    padding-bottom: 20px;
  }

  .work-experience-date {
    margin: 0;
  }

  iframe {
    width: 300px;
    height: 200px;
  }
}
