body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
}

.cv-container {
  display: flex;
}

.contact-me {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-side , .contact-me{
background-image: linear-gradient(rgb(160, 222, 247), rgb(104, 169, 255));
}

.right-side {
  padding: 2.5rem;
  width: 100vw;
  height: 100%;
}

.navbar {
  background-color: #031303;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 1.25rem; 
}

.navbar a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff9900; 
}


.minbild {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}

.description-summary {
  padding-right: 2.5rem;
  width: 60%;
  line-height: 1.5625rem;
}

.contact-leftside {
  text-align: center;
}

.images-control {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.education ul {
  list-style: none;
  padding: 0;
}

.education h2 {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-location {
  width: 1.875rem;
}

.my-number {
  margin-right: 12px;
  width: 24px;
  display: block;
}

.mail-me {
  margin-right: 0.625rem;
  width: 2.125rem;
  display: block;
}

.facebook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.875rem;
}

.link-to-facebook,
.link-to-instagram,
.link-to-linkedin,
.link-to-twitter {
  padding-left: 0.3125rem;
}

.instagram-container {
  padding-top: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4.625rem;
}

.twitter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5625rem;
  padding-right: 4.875rem;
}

.linkedin-container {
  display: flex;
  justify-content: center;
  padding-top: 1.5625rem;
  align-items: center;
  padding-right: 2.375rem;
}

.linkedint {
  width: 1.875rem;
  padding-left: 2.5rem;
}

.twittert {
  width: 1.875rem;
  padding-left: 2.5rem;
}

.instagramt {
  width: 1.875rem;
  padding-left: 2.5rem;
}

.facebookt {
  width: 1.875rem;
  padding-left: 2.5rem;
}

.personal-summary-header {
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 50%;
}

.personal-summary-header p {
  padding-right: 0.625rem;
}

.work-experience-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.work-experience-header {
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 50%;
}

.work-experience-title-and-date {
  width: 25%;
  float: left;
  text-align: left;
}

.work-experience-description {
  width: 75%;
  float: left;
  text-align: left;
}

.work-experience-text {
  width: 60%;
  line-height: 1.375rem;
}

.work-experience-title-and-date > p,
.work-experience-description > p {
  margin: 0px;
}

.work-experience-summary {
  padding-bottom: 1.5rem;
}

.skills {
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 50%;
}

.ball {
  margin-right: 0.625rem;
  width: 2.5rem;
}

.boxing {
  margin-right: 0.625rem;
  width: 2.5rem;
}

.hamburger {
  margin-right: 0.625rem;
  width: 2.5rem;
}

iframe {
  display: block;
  margin-top: 20px;
  width: 37.5rem;
  height: 18.75rem;
}

@media screen and (max-width: 767px) {
  .cv-container {
    flex-direction: column;
  }

  .contact-me {
    width: 100vw;
    text-align: center;
  }

  .right-side {
    width: calc(100vw - 80px);
  }

.work-experience-text{
  width: 100%;
}

  .description-summary {
    padding-right: 40px;
    width: 100%;
    line-height: 25px;
  }

  .minbild {
    margin-top: 20px;
  }

  .work-experience-title-and-date {
    width: 80%;
    padding-bottom: 20px;
  }

  .work-experience-date {
    margin: 0;
  }

  iframe {
    width: 300px;
    height: 200px;
  }
}
