body {
  margin: 0;
}

.cv-container {
  display: flex;
}

.left-side {
  background-color: rgb(166, 223, 234);
  width: 30%;
  height: 100%;
}

.right-side {
  padding: 40px;
  background-color: rgb(183, 233, 217);
  width: 70%;
  height: 100%;
}

.minbild {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.contact-leftside {
  padding-left: 55px;
}

.my-location {
  width:30px;
  padding-left: 40px;
}

.my-number {
  width: 30px;
  padding-left: 40px;
  display: block;
  padding-top: 10px;
}

.mail-me{
  width: 30px;
  padding-left: 40px;
  display: block;
  padding-top: 10px;
}

.personal-summary-header {
  border-bottom: 2px solid grey;
  width: 50%;
}

.personal-summary-header  p {
padding-right: 10px;
}

.work-experience-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.work-experience-header {
  border-bottom: 2px solid grey;
  width: 50%;
}

.work-experience-title-and-date {
  width: 25%;
  float: left;
  text-align: left;
}

.work-experience-description {
  width: 75%;
  float: left;
  text-align: left;
}

.work-experience-title-and-date > p,
.work-experience-description > p {
  margin: 0px;
}

.work-experience-summary {
  padding-bottom: 24px;
}

.skills {
  border-bottom: 2px solid grey;
  width: 50%;
}

.ball {
  margin-right: 10px;
  width: 40px;
}

.boxing {
  margin-right: 10px;
  width: 40px;
}

.hamburger {
  margin-right: 10px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .cv-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    text-align: center;
  }

  .right-side {
    width: 100%;
    padding: 20px;
  }

  .description-summary{
    padding-right: 40px;
  }

  .minbild {
    margin-top: 20px;
  }

  .work-experience-title-and-date {
    width: 80%;
    padding-bottom: 20px;
  }

  .work-experience-date {
    margin: 0;
  }
}
